<section id="book">
    <div class="container">
       <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-book"><b> Autumn term 2024: Tuesdays at 7pm from 3rd September - 10th Dec (14 weeks) £120. Drop-in also available until half term (29th Oct) Winter concert with Jaleo on 14th Dec 7pm. </p>
              </p>
               <script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1QH2ntLwjurA75EItNsl8J5L"
  publishable-key="pk_live_51NYTozLwjurA75EIhk2EBRw1z2zc9OpOjDrSu8yy9bL1Hjqpv2U9MbkAIBroLDxn40LiSmh58qRFbD1G05o0DyOp00jys1Q34B"
>
</stripe-buy-button>
            </div>
        </div>
    </div>

</section>
