<section id="book">
    <div class="container">
       <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-book"><b> SUMMER term is now open to anyone to book. Dates are April 22nd- July 8th.  Half term is 27th May (no choir). £100 for 11 sessions. Drop in also available until half term, then booking the next 6 sessions only. Please note that from June 3rd we are rehearsing outdoors in our stunning woodland location on the Nower near Hampstead Road (not far from town).
                    </p>
                  <p class="text-book"><b> We also have some WILD events coming up for choir members: A nightingale musical adventure with guest musicians on May 2nd (local to Dorking, late night) and a Nightjar experience at Blackheath near Chilworth on June 13th (8pm). June 21st we have been invited to take part in a solstice ritual as part of artists Ackroyd and Harvey's installation of a ring of oak trees grown from acorns from Joseph Beuys'oak trees (Richmond). Contact philippa@thewildchoir.com for more details. </p>
<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1R90JeLwjurA75EIouYEd5y4"
  publishable-key="pk_live_51NYTozLwjurA75EIhk2EBRw1z2zc9OpOjDrSu8yy9bL1Hjqpv2U9MbkAIBroLDxn40LiSmh58qRFbD1G05o0DyOp00jys1Q34B"
>
</stripe-buy-button>

              <script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>
 <script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1QcW76LwjurA75EIFYoypOIQ"
  publishable-key="pk_live_51NYTozLwjurA75EIhk2EBRw1z2zc9OpOjDrSu8yy9bL1Hjqpv2U9MbkAIBroLDxn40LiSmh58qRFbD1G05o0DyOp00jys1Q34B"
>
</stripe-buy-button>

