<section id="book">
    <div class="container">
       <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-book"><b>Term dates:  Summer term is underway, drop-in available until half term (May 28th) then we go outside into the woods for 6 weeks, which is booking only, finishing with an outdoor performance on July 13th.</p
<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1PFvpVLwjurA75EIcCoMG708"
  publishable-key="pk_live_51NYTozLwjurA75EIhk2EBRw1z2zc9OpOjDrSu8yy9bL1Hjqpv2U9MbkAIBroLDxn40LiSmh58qRFbD1G05o0DyOp00jys1Q34B"
>
</stripe-buy-button>
                <script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1NYUePLwjurA75EIcLADqrHm"
  publishable-key="pk_live_51NYTozLwjurA75EIhk2EBRw1z2zc9OpOjDrSu8yy9bL1Hjqpv2U9MbkAIBroLDxn40LiSmh58qRFbD1G05o0DyOp00jys1Q34B"
>
</stripe-buy-button>
            </div>
        </div>
    </div>

</section>
