<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-faded">We are a friendly and slightly wild choir who sing strong harmony arrangements of music that you might call folk from diverse cultures and traditions. We sing to the seasons, the elements and with our hearts. All levels of singing ability are welcome and songs are taught by ear.</p>
                <p class="text-faded">Sessions are lead by Natural Voice Choir leader Philippa Snell and run during term times. We meet in the beautiful <a target="_blank" href="https://goo.gl/maps/CVGHoxBq2XfakKq37">Quaker Meeting House</a> in central Dorking on Tuesdays at 7. In the summer term we sing outside in the woods. Philippa firmly believes that everyone with a voice can sing and that making music together is connecting, uplifting and good for the soul.</p>
                <p class="text-faded">Each term will have 6 weeks of 'Drop in' sessions where anyone can try the choir out,  then the following block of 6/7 weeks will be booking only and we will work towards a performance (discount for booking the whole term in advance). Coming for the first time? Please can you park in one of the nearby car parks on South St.(the space at the venue is very limited and steep!) We really appreciate you arriving before 7pm so we can start on time :) </p>
            </div>
        </div>
    </div>
</section>
