<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-faded">We are a friendly and slightly wild choir who sing strong harmony arrangements of music that you might call folk from diverse cultures and traditions. We sing to the seasons, the elements and with our hearts. All levels of singing ability are welcome and songs are taught by ear.</p>
                <p class="text-faded">Sessions are lead by Natural Voice Choir leader Philippa Snell and run during term times. We meet in the beautiful <a target="_blank" href="https://goo.gl/maps/CVGHoxBq2XfakKq37">Quaker Meeting House</a> in central Dorking on Tuesdays at 7. In the summer term we sing outside in the woods. Philippa firmly believes that everyone with a voice can sing and that making music together is connecting, uplifting and good for the soul.</p>
                <p class="text-faded">Most terms will have 6 weeks of 'Drop in' sessions where anyone can try the choir out,  then the following block of 6/7 weeks will be booking only and we will work towards a performance (discount for booking the whole term in advance).</p>
                <p class="text-faded"><b>Term dates for 2023: Tues 5th Sept - Tues 12th Dec (half term 24th Oct). Drop-in £10 available on door, cash, card or book below until 17th Oct.<br>Whole term discount £120 (14 weeks).</b></p>
                <stripe-buy-button
                  buy-button-id="buy_btn_1NYUePLwjurA75EIcLADqrHm"
                  publishable-key="pk_live_51NYTozLwjurA75EIhk2EBRw1z2zc9OpOjDrSu8yy9bL1Hjqpv2U9MbkAIBroLDxn40LiSmh58qRFbD1G05o0DyOp00jys1Q34B"
                >
                </stripe-buy-button>
                <stripe-buy-button
                  buy-button-id="buy_btn_1NYUsWLwjurA75EIZeu6eng5"
                  publishable-key="pk_live_51NYTozLwjurA75EIhk2EBRw1z2zc9OpOjDrSu8yy9bL1Hjqpv2U9MbkAIBroLDxn40LiSmh58qRFbD1G05o0DyOp00jys1Q34B"
                >
                </stripe-buy-button>

            </div>
        </div>
    </div>
</section>
