<section id="book">
    <div class="container">
       <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-book"><b> Summer term 2026 now is ready to book, drop-in sessions avilable until May half term, singing in the woods from June 2nd, concert on July 4th with Kaira Kafo drumming group.  
                    </p>
<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1TE83WLwjurA75EIF8JhnQsy"
  publishable-key="pk_live_51NYTozLwjurA75EIhk2EBRw1z2zc9OpOjDrSu8yy9bL1Hjqpv2U9MbkAIBroLDxn40LiSmh58qRFbD1G05o0DyOp00jys1Q34B"
>
</stripe-buy-button>
                <script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1QcW76LwjurA75EIFYoypOIQ"
  publishable-key="pk_live_51NYTozLwjurA75EIhk2EBRw1z2zc9OpOjDrSu8yy9bL1Hjqpv2U9MbkAIBroLDxn40LiSmh58qRFbD1G05o0DyOp00jys1Q34B"
>
</stripe-buy-button>

                
            </div>
        </div>
    </div>

</section>
