<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-faded">Sessions are lead by Natural Voice Choir leader Philippa Snell and run during term times. Philippa firmly believes that everyone with a voice can sing and that making music together is connecting, uplifting and good for the soul.</p>
                <p class="text-faded">Each term will have 6 weeks of 'Drop in' sessions where anyone can try the choir out,  then the following block of 6/7 weeks will be booking only and we will work towards a performance (discount for booking the whole term in advance). 
                </p>
            </div>
        </div>
    </div>
</section>
