<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/wild-choir2.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/wild-choir6.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/wild-choir9.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/wild-choir3.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/wild-choir7.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/wild-choir5.jpg" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
